/** CSS RESET **/
body{padding:0;margin:0;font:12px Tahoma,Arial,Helvetica,Garuda,sans-serif;*font-size:small;*font:x-small;}
h1,h2,h3,h4,h5,h6,ul,li,em,strong,pre,code{padding:0;margin:0;line-height:1em;font-size:100%;font-style: normal;}
ul{list-style:none;}
img{border:0;}
p{margin:1em 0;}
/* Tables still need 'cellspacing="0"' in the markup. */
table { font-size:inherit;font:100%;border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
table, td, th { vertical-align: middle; }

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

/* Remove annoying border on linked images. */
a img { border: none; }

/** Main CSS **/
body {
  font: 75%/1.25 Arial, Tahoma, Helvetica, sans-serif; 
  vertical-align:top;
  line-height: 1.5;
  background-image:url('../images/bg_tile.png');
  color:#6f6f6f;
  vertical-align: baseline;
}

html > body {
  font-size: 12px; }
  

  
a {
  text-decoration: none; }

/* NB 2008-07-09: Not sure why we need to do this in addition to a:link */
a:link {
  color: #005db5;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

a:visited {
  color: #005db5; }
  

::selection {
        background: #fff000; /* Safari */
        }
::-moz-selection {
        background: #fff000; /* Firefox */
}

#wrapper{
	margin: 0 auto;
	width: 940px ;
}

#navbar{
	z-index: 9999;
    position: relative;
	background: #F6F6F6 url("../images/nav/bg.png") repeat-x;
	height: 79px;
	line-height: 16px;
	text-shadow: 0 1px 1px white;
	font-weight: bold  !important;
	margin-bottom: 5px;
}

#innerNavBar{
	width:940px;
	position: relative;
	margin: 0 auto;
}

#navLogo{
	float: left;
	margin: 17px 18px 0 0;
}

.navbar-list {
	float: left;
}
.navbar-list.right{
	float: right;
}

.navbar-list-item {
	position: relative;
	float: left;
	padding: 23px 15px 21px;
	border-right: 1px solid #e0e0e0 ;
}
.navbar-list-item:last-child {
	border-right-width: 0;
	margin-right:20px;
}

#upload-notes {
	color: #393C3D!important;
	text-decoration:none;
	font-weight: 600;
	float: right;
	border-width: 1px;
	border-style: solid;
	border-color: #E0B518 #D3A80C #C49A00;
	padding: 6px 11px;
	font-size: 13px;
	text-shadow: 0 1px 1px #FCF56D;
	margin-top: 12px;
	line-height: 17px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	box-shadow: inset 0 -1px 0 #f9df2e,inset 1px 0 0 #f9df2e,inset -1px 0 0 #f9df2e,inset 0 1px 0 rgba(255,255,255,0.6),0 1px 0 rgba(100,100,100,0.1),0 2px 0 rgba(150,150,150,0.1);
	-o-box-shadow: inset 0 -1px 0 #f9df2e,inset 1px 0 0 #f9df2e,inset -1px 0 0 #f9df2e,inset 0 1px 0 rgba(255,255,255,0.6),0 1px 0 rgba(100,100,100,0.1),0 2px 0 rgba(150,150,150,0.1);
	-moz-box-shadow: inset 0 -1px 0 #f9df2e,inset 1px 0 0 #f9df2e,inset -1px 0 0 #f9df2e,inset 0 1px 0 rgba(255,255,255,0.6),0 1px 0 rgba(100,100,100,0.1),0 2px 0 rgba(150,150,150,0.1);
	-webkit-box-shadow: inset 0 -1px 0 #f9df2e,inset 1px 0 0 #f9df2e,inset -1px 0 0 #f9df2e,inset 0 1px 0 rgba(255,255,255,0.6),0 1px 0 rgba(100,100,100,0.1),0 2px 0 rgba(150,150,150,0.1);
	background: #FCEA73;
	background: -moz-linear-gradient(top,#FCEA73 0,#FDE54D 50%,#FDDB43 50%,#F3C714 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FCEA73),color-stop(50%,#FDE54D),color-stop(50%,#FDDB43),color-stop(100%,#F3C714));
	background: -o-linear-gradient(top,#FCEA73 0,#FDE54D 50%,#FDDB43 50%,#F3C714 100%);
	background: -ms-linear-gradient(top,#FCEA73 0,#FDE54D 50%,#FDDB43 50%,#F3C714 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcea73',endColorstr='#f3c714',GradientType=0);
	background: linear-gradient(top,#FCEA73 0,#FDE54D 50%,#FDDB43 50%,#F3C714 100%);
}

#upload-notes:hover{text-decoration:none;background:#fbf0a4;background:-moz-linear-gradient(top,#fbf0a4 0,#fce867 50%,#fdde53 50%,#efcd42 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fbf0a4),color-stop(50%,#fce867),color-stop(50%,#fdde53),color-stop(100%,#efcd42));background:-o-linear-gradient(top,#fbf0a4 0,#fce867 50%,#fdde53 50%,#efcd42 100%);background:-ms-linear-gradient(top,#fbf0a4 0,#fce867 50%,#fdde53 50%,#efcd42 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbf0a4',endColorstr='#efcd42',GradientType=0);background:linear-gradient(top,#fbf0a4 0,#fce867 50%,#fdde53 50%,#efcd42 100%)}

#upload-notes:active{box-shadow:inset .05em .15em .4em rgba(0,0,0,0.4),inset 0 0 .2em rgba(255,255,255,0.3),inset 0 1px 2px rgba(0,0,0,0.9);-o-box-shadow:inset .05em .15em .4em rgba(0,0,0,0.4),inset 0 0 .2em rgba(255,255,255,0.3),inset 0 1px 2px rgba(0,0,0,0.9);-moz-box-shadow:inset .05em .15em .4em rgba(0,0,0,0.4),inset 0 0 .2em rgba(255,255,255,0.3),inset 0 1px 2px rgba(0,0,0,0.9);-webkit-box-shadow:inset .05em .15em .4em rgba(0,0,0,0.4),inset 0 0 .2em rgba(255,255,255,0.3),inset 0 1px 2px rgba(0,0,0,0.9)}

.navbar-icon{
	width: 10px;
	height: 10px;
	margin-right: 6px;
	background: url("../images/nav/userIcon.gif") no-repeat;
	position: relative;
	top: 2px;
}

.navbar-arrow{
	width: 9px;
	height: 6px;
	margin-left: 5px;
	background: url("../images/nav/arrowIcon.gif") no-repeat;
	display: inline-block;
}
.navbar-list-item.dropdown a{
	color: #333333; 
	text-decoration:none;
}
#navbar-list-item-menu{

	
}
/* sub-menus*/ 
.navbar-list ul { padding:0px; margin:0px; display:block; display:inline;} 
.navbar-list li ul { 
	position:absolute;  top:0px; margin-top:45px; width:115px; line-height:16px;     
    display:none; 
	z-index: 9999;
	font-weight: normal;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
	background: rgba(0, 0, 0, 0.9);
	background: -webkit-gradient(linear,center top,center bottom,from(rgba(50, 50, 50, 0.9)),to(rgba(0, 0, 0, 0.9)));
	background: -moz-linear-gradient(top,rgba(50, 50, 50, 0.9),rgba(0, 0, 0, 0.9));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5323232',endColorstr='#e5000000',GradientType=0);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: inset 0 0 1px rgba(255,255,255,0.5),0 1px 0 rgba(100,100,100,0.1),0 2px 0 rgba(150,150,150,0.1);
	-o-box-shadow: inset 0 0 1px rgba(255,255,255,0.5),0 1px 0 rgba(100,100,100,0.1),0 2px 0 rgba(150,150,150,0.1);
	-moz-box-shadow: inset 0 0 1px rgba(255,255,255,0.5),0 1px 0 rgba(100,100,100,0.1),0 2px 0 rgba(150,150,150,0.1);
	-webkit-box-shadow: inset 0 0 1px rgba(255,255,255,0.5),0 1px 0 rgba(100,100,100,0.1),0 2
} 
.navbar-list li:hover ul { display:block;} 
.navbar-list li ul li{ display:block;   list-style-type:none; } 
    
.navbar-list li ul li:first-child { border-top: none; padding: 5px 0px; } 
.navbar-list li ul li:last-child { border-top: none; padding: 5px 0px; } 

.navbar-list li ul li a { display:block;  
	color: white !important;
padding: 10px 15px;
-webkit-transition: background-color linear .1s;
-moz-transition: background-color linear .1s;
-o-transition: background-color linear .1s;
transition: background-color linear .1s;
} 
.navbar-list li ul li a:hover { color: white !important;
	background: #0268bf;
background: -webkit-gradient(linear,center top,center bottom,from(#1d8eed),color-stop(75%,#0268bf));
background: -moz-linear-gradient(top,#1d8eed,#0268bf 75%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1d8eed',endColorstr='#0268bf',GradientType=0);
color: white;
text-decoration: none;} 

.navbar-list .dropdown-arrow { position:absolute; top:-6px; left:15px;} 

.navbar-list-item.points a{
	color: #333333 !important; 
	text-decoration:none;
}

.navbar-points{
	margin-top: 7px;
	width: 16px;
	height: 16px;
	background: url("../images/nav/pointsIcon.gif") no-repeat;
}

.pointsIconBig {
margin-top: 7px;
width: 32px;
height: 32px;
background: url("../images/nav/pointsIconBig.png") no-repeat;
}


/*
----------------------------------------------
*/


#header{
	background-image:url('../images/main/main.png');
	height:181px;
	background-repeat:no-repeat;
	text-align:center;
	padding-top:15px;
}

#header2{
	background-image:url('../images/main2BlueGradientBG.png');
	height:90px;
	background-repeat:no-repeat;
	padding-top:30px;
	padding-left:30px;
	padding-right:30px;
}

#slogan{
	font-family:  Calibri, Arial, serif;
	font-size:40px;
	color:white;
	text-align:center;
	line-height:1.5;
}
#subslogan{
	font-family:  Calibri, Arial, serif;
	font-size:20px;
	color:#83cff0;
	text-shadow: 2px 2px 2px #123774; 
}

#mainSearch{
	padding-top:3px;	
}

#main2Search{
	float:right;
}

#mainSearchField{
	background-image: url(../images/searchfield.gif);
	background-repeat:no-repeat;
	background-color:none;
	color:#4a4a4a;
	font-size:20px;
	outline:none;
	width: 434px;
	padding-left:15px;
	border:none;
	height:52px;
}
.search{
	padding-right:150px;
}
.button {
	border:none;
	outline:none;
	position:absolute;
	cursor:pointer;	
}

#mainSearchButton{
	background-image: url(../images/search-books-tests-notes-labs-guides.gif);
	background-position:0 0;
	background-repeat:no-repeat;
	width:145px;
	height:54px;
}

#mainSearchButton:hover{
	background-image: url(../images/search-books-tests-notes-labs-guides.gif);
	background-position:0 -54px;
	background-repeat:no-repeat;
	width:145px;
	height:54px;
}
#mainSearchButton:active{
	background-image: url(../images/search-books-tests-notes-labs-guides.gif);
	background-position:0 -54px;
	background-repeat:no-repeat;
	width:145px;
	height:54px;
}

#greyButton1{
	width:470px;
	height:67px;
	background:url("../images/main/upload-your-notes.png") no-repeat 0px 0px;
	float:left;
}
#greyButton1:hover{
	width:470px;
	height:67px;
	background:url("../images/main/upload-your-notes.png") no-repeat 0px -67px;
}
#greyButton2{
	width:470px;
	height:67px;
	background:url("../images/main/list-your-books-for-sale.png") no-repeat 0px 0px;
	float:right;
}
#greyButton2:hover{
	width:470px;
	height:67px;
	background:url("../images/main/list-your-books-for-sale.png") no-repeat 0px -67px;
}


#content{
padding-top:10px;
}

#content2{
	padding-top:10px;
}



.col1 {
	float: left;
	width: 285px;
	padding-left:7px;
	padding-right:7px;
}

.col3 {
	float: right;
	width: 300px;
	padding-left:7px;
	padding-right:7px;
}

.col2 { 
	float: left;
	width: 32%;
	padding-left:7px;
	padding-right:7px;
}

.col111 {
	float: left;
	width: 272px;
	padding-left:10px;
	padding-right:10px;
	text-align:justify;
}

.col333 {
	text-align:justify;
	float: right;
	width: 272px;
	padding-left:10px;
	padding-right:10px;
}

.col222 { 
	text-align:justify;
	float: left;
	width: 33%;
	padding-left:10px;
	padding-right:10px;
}

.twoCol1 {
	float: left;
	width: 665px;
	margin-bottom:10px;
	padding-right:20px;
}

.twoCol2 { 
	margin: 0;
	float: left;
	width: 255px;
	height: 1%; /* Holly hack for Peekaboo Bug */
}
.twoCol1RightBased {
	float: left;
	width: 255px;
	margin-bottom:10px;
	padding-right:20px;
}

.twoCol2RightBased { 
	margin: 0;
	float: left;
	width: 665px;
	height: 1%; /* Holly hack for Peekaboo Bug */
}

#collaborateIcon{
	background: url("../images/main/collaborate-study-rewards.png") no-repeat 0px 0px;
	width:61px;
	height:73px;
	float:left;
	margin-right:10px;
	margin-top: 20px;  
}
#studyIcon{
	background: url("../images/main/collaborate-study-rewards.png") no-repeat -61px 0px;
	width:45px;
	height:73px;
	float:left;
	margin-right:10px;
	margin-top: 18px;  
}
#rewardIcon{
	background: url("../images/main/collaborate-study-rewards.png") no-repeat -106px 0px;
	width:58px;
	height:73px;
	float:left;
	margin-right:10px;
	margin-top: 18px;  
}
#now-at-york-university{
	background: url("../images/main/now-at-york-university.jpg") no-repeat 0px 0px;
	width:228px;
	height:130px;
	float:left;
	margin: 0 4px 0 3px;
}
#supported-by-your-professor{
	background: url("../images/main/supported-by-your-professor.jpg") no-repeat 0px 0px;
	width:228px;
	height:130px;
	float:left;
	margin: 0 3px 0 3px;
}
#reasons-students-use-studygig{
	background: url("../images/main/9-reasons-students-use-studygig.jpg") no-repeat 0px 0px;
	width:228px;
	height:130px;
	float:left;
	margin: 0 3px 0 3px;
}
#studygig-classifieds-sell-buy-text-books{
	background: url("../images/main/studygig-classifieds-sell-buy-text-books.jpg") no-repeat 0px 0px;
	width:228px;
	height:130px;
	float:left;
	margin: 0 4px 0 3px;
}

.textmiddle {vertical-align:middle;} 
.roundedCornerContent{
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
	background-color:#ffffff;
	padding:5px;
	padding-left:15px;
	padding-right:15px;
	margin-top:10px;
	width:100%;
}
#memberAd1{
	margin-top:15px;
	background-image:url('../images/member-ad1.gif');
	height:265px;
	width:244px;
}
#memberAd2{
	margin-top:15px;
	background-image:url('../images/member-ad2.gif');
	height:265px;
	width:244px;
}

.twoCol11 {
	float: left;
	width: 510px;
}

.twoCol22 { 
	float: left;
	width: 150px;
	height: 1%; /* Holly hack for Peekaboo Bug */
	padding-top:15px;
	padding-left:5px;
}

.result p{
	padding-left:5px;
}
.center{
  text-align:center;
}

img.center {   display: block;   margin-left: auto;   margin-right: auto; }

/** ------------------------ **/
/** MAIN PAGE STYLING **/
/** ------------------------ **/
.slideshow {  	
	height:155px;
	}
.slide{
	width:90%;
}
.recentPostIcon{
	float:left;
	margin: 10px 10px 10px 0px; 
}

#universityDropdown{
	display:inline-block;
	color:white;
	font-size:28px;
	text-shadow: 0 1px 1px #003666;
	border:1px solid transparent;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	padding:7px 10px 7px 10px;
}
#universityDropdown:hover {
	cursor:pointer;
	text-decoration:none;border-color:#468bc3;
}
#universityDropdown:active {
color:#fff;text-shadow:0 1px 1px rgba(0,0,0,0.4);background:#1d9dff;background:-webkit-gradient(linear,center top,center bottom,from(#4abdff),to(#1d9dff));background:-moz-linear-gradient(top,#4abdff,#1d9dff);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4abdff',endColorstr='#1d9dff',GradientType=0);
}
.whiteArrow{
	width: 12px;
	height: 6px;
	margin-left: 5px;
	background: url("../images/nav/arrowIconW.png") no-repeat;
	display: inline-block;
}

/** ------------------------ **/
/** SITE PAGE STYLING **/
/** ------------------------ **/

#aboutUsBanner{
	width:940px;
	background-image:url(../images/about-studygig-image.png);
	height:249px;
}
#aboutUsNav li{
	margin-bottom:10px;
}

#aboutUsNavWrapper { /* required to avoid jumping */
  width:280px;
}

#aboutUsNav {
  margin-top:10px;
	padding:10px;
	font-size:1.8em;
}
.reasonItem{
	float:left;
	width:260px;
	height:167px;
	margin-left:30px;
	margin-top:10px;
}

/*General Mosaic Styles*/
.mosaic-block {
	float:left;
	position:relative;
	overflow:hidden;
	width:260px;
	height:167px;
	margin-left:20px;
	margin-top:10px;
	margin-bottom:10px;
	background:#ffffff url(images/ajax-loader.gif) no-repeat center center;
}

	.mosaic-backdrop {
		display:none;
		position:absolute;
		top:0;
		height:100%;
		width:100%;
		background:#ffffff;
	}
	
	.mosaic-overlay {
		display:none;
		z-index:5;
		position:absolute;
		width:230px;
		height:157px;
		background:#ffffff;
		padding:15px;
		padding-top:30px;
	}

		/*** Custom Animation Styles (You can remove/add any styles below) ***/
		.circle .mosaic-overlay {
			background:url(images/hover-magnify.png) no-repeat center center;
			opacity:0;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
			filter:alpha(opacity=00);
			display:none;
		}
		
		.fade .mosaic-overlay {
			opacity:0;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
			filter:alpha(opacity=00);
			background:url(images/bg-white.png);
		}
		
		.bar .mosaic-overlay {
			bottom:-100px;
			height:100px;
			background:#ffffff;
		}
		
		.bar2 .mosaic-overlay {
			bottom:-50px;
			height:100px;
			opacity:0.8;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
			filter:alpha(opacity=80);
		}
		
			.bar2 .mosaic-overlay:hover {
				opacity:1;
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
				filter:alpha(opacity=100);
			}
		
		.bar3 .mosaic-overlay {
			top:-100px;
			height:100px;
			background:url(images/bg-black.png);
		}
		/*** End Animation Styles ***/
.howitworkFeat{
	padding-top:10px;
	padding-bottom:25px;
}
.howitworkTextL{
	width:325px;
	text-align:justify;
	float:left;
	padding-right:25px;
}
.howitworkTextR{
	width:325px;
	text-align:justify;
	float:left;
	padding-left:25px;
}
.howitworkImage{
	float:left;
}


/** ------------------------ **/
/** USER PAGE STYLING **/
/** ------------------------ **/
#user_navbar {
	background: white;
	border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	width: 940px;
	height: 42px;
	list-style-type: none;
	margin: 0;
	padding: 11px 0 0 0;
}
#user_navbar li{
	display: inline;
	height: 30px;
	padding: 10px 10px;
	margin: 0 5px 0 0;
	font-size: 24px;
}
#user_navbar li.active a{
	color: #434D51;
}
#user_navbar li a{
	color: #BFC2C4;
	font-weight: bold;
	text-decoration: none;
}
#user_navbar li a:hover{
	color: #434D51;
}
.tabTitle{
	font-size:1.2em;
	padding-left:1em;
	padding-right:1em;
	vertical-align:text-top;
}
   #tabs-1 a:link, #tabs-2 a:link, #tabs-3 a:link {
  color: #005db5;
  text-decoration: none; }
 #tabs-1 a:hover, #tabs-2 a:hover, #tabs-3 a:hover{
  text-decoration: underline; }

#tabs-1 a:visited, #tabs-2 a:visited, #tabs-3 a:visited  {
  color: #005db5; }
  
#dashboardSnapshot{
	width:90%;
}
#dashboardSnapshot ul li{
	padding: 10px 5px;
	background: #F3FAFF;
	margin: -5px -15px 8px -15px;
}
#dashboardSnapshot div.stat_name{
	width: 87px;
	padding: 8px 0 0 13px;
	float:left;
}
#dashboardSnapshot div.stat_action{
	padding: 8px 0 0 13px;
}

#dashboardSnapshot div.stat_value{
	font-size: 26px;
	font-weight: bold;
	padding-right: 20px;
	float:right;
	margin-top:5px;
}

#dashboardNumber{
	display:block;
	font-size:2.5em;
	vertical-align:middle;
}
#dashboardNumber2{
	display:block;
	font-size:1.5em;
	vertical-align:middle;
}
#dashboardFacebook{
	padding:10px;
}
#dashboardGetStarted{
	width:96%;
	margin-bottom:20px;
	padding-bottom:15px;
}
#favourites{
	width:96%;
	margin-bottom:20px;
	padding-bottom:15px;
}
#favourites ul li{
	border-top: 1px solid #E1E0DE;
	min-height: 27px;
	padding: 9px 10px 9px 25px;
}
#favourites ul li:hover{
	border-top: 1px solid #01509d;
}
.actions{
	float:right;
}
.left{
	float:left;
}
.right{
	float:right;
}
.edit_button{
	display: block;
	float: left;
	margin-right: 10px;
	cursor: pointer;
	border: 1px solid #C3C3C3;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: #F7F7F7;
	background: -webkit-gradient(linear,center top,center bottom,from(white),to(#F7F7F7));
	background: -moz-linear-gradient(top,white,#F7F7F7);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#fff7f7f7',GradientType=0);
	box-shadow: 0 2px 2px -2px rgba(0,0,0,0.3);
	-o-box-shadow: 0 2px 2px -2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 2px 2px -2px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 2px 2px -2px rgba(0,0,0,0.3);
	padding: 10px 6px 10px 6px;
	margin-bottom:15px;
}
.edit_button a{
	color: #848484!important;
	text-decoration:none;
	font-weight: bold;
	font-size: .78em;
	text-shadow: 0 1px 0 white;
	text-transform: uppercase;
}
.edit_button:hover{
	background: white;
background: -webkit-gradient(linear,center top,center bottom,from(white),to(white));
background: -moz-linear-gradient(top,white,white);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffffffff',GradientType=0);
}
}
.edit_button:active{
	background: white;
background: -webkit-gradient(linear,center top,center bottom,from(#F7F7F7),to(white));
background: -moz-linear-gradient(top,#F7F7F7,white);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff7f7f7',endColorstr='#ffffffff',GradientType=0);
}

.dashboardList li{
	display: inline;
	list-style-type: none;
	padding-left: 17px;
	font-size:1.2em;
}
#editProfileForm{
	margin-top:10px;
}
#username{
	display:block;
    padding: 10px 10px 5px;
	border: 1px solid #CCC;
	font-size: 16px;
	line-height: 22px;
	width:50%;
	color:#000000;
	background-color:#ededed;
	margin-bottom:10px;
}
.formTextField{
	display:block;
    padding: 10px 10px 5px;
	border: 1px solid #CCC;
	font-size: 16px;
	line-height: 22px;
	width:50%;
	margin-bottom:10px;
}
.formTextField2{
	display:block;
    padding: 10px 10px 5px;
	border: 1px solid #CCC;
	font-size: 16px;
	line-height: 22px;
	margin-bottom:10px;
}
.formTextField2Inline{
    padding: 10px 10px 5px;
	border: 1px solid #CCC;
	font-size: 16px;
	line-height: 22px;
	margin-bottom:10px;
}
.loginCol{
	width:500px;
	margin: auto;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
	background-color:#ffffff;
	padding:5px;
	padding-left:15px;
	padding-right:15px;
	margin-top:10px;
	text-align:center;
	padding-bottom:20px;

}
.loginCol2{
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
	background-color:#ffffff;
	padding:5px;
	padding-left:15px;
	padding-right:15px;
	width:500px;
	margin: auto;
	margin-top:20px;
	text-align:center;
}
.signupCol{
	width:500px;
	margin: auto;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
	background-color:#ffffff;
	padding:5px;
	padding-left:15px;
	padding-right:15px;
	margin-top:10px;
	text-align:center;
}
.signupCol2{
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
	background-color:#ffffff;
	padding:5px;
	padding-left:15px;
	padding-right:15px;
	width:500px;
	margin: auto;
	margin-top:20px;
	text-align:center;
}
#loginTitle{
	font-size:2.5em;
	color:#000000;
}
#loginForm{
	text-align:left;
	margin-top:10px;
	background-color:#ffffff;
}
#verticalSep{
	float:left;
	  height: 250px;
  background: #e7e7e7;
  width: 1px;
  margin-right:25px;
  text-align:center;
}
#loginWithFacebook{
	width:245px;
	float:left;
}
#loginWithOutFb{
	float:left;
	margin:0;
	width:200px;
}
#emailLoginField{
	float:left;
	width:55%;
}
#passwordLoginField{
	float:left;
}
#emailLoginField2{
	float:left;
	width:50%;
	text-align:left;
}
#passwordLoginField2{
	float:left;
	text-align:left;
}
#loginButton{
	
	border: 1px solid #459A00;
background: #4AA400;
background: -webkit-gradient(linear,center top,center bottom,from(#5CCD00),to(#4AA400));
background: -moz-linear-gradient(top,#5CCD00,#4AA400);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5ccd00',endColorstr='#ff4aa400',GradientType=0);
display: inline-block;
text-align: center;
min-width: 5em;
min-height: 2em;
cursor: pointer;
position: relative;
border-radius: .3em;
-moz-border-radius: .3em;
-webkit-border-radius: .3em;
line-height: 2em;
padding: 0 1em;
font-size: 1.7em;
font-weight: bold;
color: white!important;
text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
text-decoration: none;
box-shadow: inset 0 0 .2em rgba(255,255,255,0.3),inset 0 0 .2em rgba(255,255,255,0.3),0 1px 2px rgba(0,0,0,0.3);
-o-box-shadow: inset 0 0 .2em rgba(255,255,255,0.3),inset 0 0 .2em rgba(255,255,255,0.3),0 1px 2px rgba(0,0,0,0.3);
-moz-box-shadow: inset 0 0 .2em rgba(255,255,255,0.3),inset 0 0 .2em rgba(255,255,255,0.3),0 1px 2px rgba(0,0,0,0.3);
-webkit-box-shadow: inset 0 0 .2em rgba(255,255,255,0.3),inset 0 0 .2em rgba(255,255,255,0.3),0 1px 2px rgba(0,0,0,0.3);

	margin-top:15px;
}#loginButton:hover {
	box-shadow: inset 0 0 .2em rgba(255,255,255,0.3),inset 0 0 .2em rgba(255,255,255,0.3),0 1px 5px rgba(0,0,0,0.6);
-o-box-shadow: inset 0 0 .2em rgba(255,255,255,0.3),inset 0 0 .2em rgba(255,255,255,0.3),0 1px 5px rgba(0,0,0,0.6);
-moz-box-shadow: inset 0 0 .2em rgba(255,255,255,0.3),inset 0 0 .2em rgba(255,255,255,0.3),0 1px 5px rgba(0,0,0,0.6);
-webkit-box-shadow: inset 0 0 .2em rgba(255,255,255,0.3),inset 0 0 .2em rgba(255,255,255,0.3),0 1px 5px rgba(0,0,0,0.6);
text-decoration: none!important;
}#loginButton:active {
	box-shadow: inset .05em .15em .4em rgba(0,0,0,0.4),inset 0 0 .2em rgba(255,255,255,0.3),inset 0 1px 2px rgba(0,0,0,0.9);
-o-box-shadow: inset .05em .15em .4em rgba(0,0,0,0.4),inset 0 0 .2em rgba(255,255,255,0.3),inset 0 1px 2px rgba(0,0,0,0.9);
-moz-box-shadow: inset .05em .15em .4em rgba(0,0,0,0.4),inset 0 0 .2em rgba(255,255,255,0.3),inset 0 1px 2px rgba(0,0,0,0.9);
-webkit-box-shadow: inset .05em .15em .4em rgba(0,0,0,0.4),inset 0 0 .2em rgba(255,255,255,0.3),inset 0 1px 2px rgba(0,0,0,0.9);
}
#loginButtonAlign{
	padding-top:5px;
	text-align:center;
}
#loginWithFacebookButton{
	background-image:url(../images/login-with-facebook-button.gif);
	background-position:left top;
	width:223px;
	height:40px;
}
#loginWithFacebookButton:hover{
	background-image:url(../images/login-with-facebook-button.gif);
	background-position:left bottom;
	width:223px;
	height:40px;
}
.welcome2col1{
	float:left;
	width:130px;
	margin-top:20px;
	text-align:center;
}
.welcome2col2{
	float:left;
	padding-left:10px;
	width:470px;
	text-align:justify;
	height: 1%; /* Holly hack for Peekaboo Bug */
}

#rewardForm{
	float:left;
}

#rewardRedeemBtn{
	background-image:url(../images/500-points-redeem-btn.gif);
	height:73px;
	width:286px;
	float:right;
	margin-left:15px;
	margin-top:12px;
}
#rewardRedeemBtn3{
	background-image:url(../images/800-points-redeem-btn.gif);
	height:73px;
	width:286px;
	float:right;
	margin-left:15px;
	margin-top:12px;
}
#rewardRedeemBtn4{
	background-image:url(../images/1300-points-redeem-btn.gif);
	height:73px;
	width:286px;
	float:right;
	margin-left:15px;
	margin-top:12px;
}
#rewardRedeemBtn5{
	background-image:url(../images/2500-points-redeem-btn.gif);
	height:73px;
	width:286px;
	float:right;
	margin-left:15px;
	margin-top:12px;
}

.rewardDetailsBtn{
	float:left;
   
	display:inline-block;

	margin-top:30px;
	margin-left:350px;
}
.reward{
	margin-bottom:20px;
}
.rewardFeedback{
	visibility:hidden;
	margin-bottom:5px;
	border: 1px solid #fad42e; 
	background: #fbec88 url(images/ui-bg_glass_55_fbec88_1x400.png) 50% 50% repeat-x; 
	color: #363636;
	padding-top: 0px; padding-right: 0.7em; padding-bottom: 0px; padding-left: 0.7em;
}
/** ------------------------ **/
/** UPLOADED PAGE STYLING **/
/** ------------------------ **/

#viewClassifiedsOff{
	background-image:url('../images/search-results-buttonO.gif');
	height:32px;
	width:110px;
	text-align:center;
	padding-top:7px;
	background-position:top left;
	float:left;
	margin-left:10px;
}
#viewClassifiedsOff:hover{
	background-position:center left;
	color:#ffffff;
}
#viewClassifieds{
	background-image:url('../images/search-results-button.gif');
	height:32px;
	width:110px;
	text-align:center;
	padding-top:7px;
	background-position:bottom left;
	float:left;
	color:#ffffff;
	margin-left:10px;
}

.pagination{
	display:block;
	margin-top:5px;
	float:right;
	font-size:1.2em;
}
.paginationNumLink{
	display:inline;
	margin:5px;
	padding:5px;
	background-color:#ffffff;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}
.paginationNumLink:hover{
	background-color:#0073ea;
}
.paginationNumLink:hover a{
	color:#ffffff;
}
.paginationCurLink{
	display:inline;
	margin:5px;
	padding:5px;
	background-color:#003b70;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	color:#f6f6f6;
}
a.uploadAnotherStudyMatButton{
	-moz-box-shadow:inset 0px 1px 0px 0px #fab3ad;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fab3ad;
	box-shadow:inset 0px 1px 0px 0px #fab3ad;
	background-color:#fa665a;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #d83526;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:16px;
	font-weight:bold;
	padding:15px 35px;
	text-decoration:none;
}a.uploadAnotherStudyMatButton:hover {
	background-color:#d34639;
}
#more{
	float:right;
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#ededed;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:16px;
	font-weight:bold;
	padding:15px 35px;
	text-decoration:none;
	cursor:pointer;
}
#backToTop{
	float:left;
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#ededed;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:16px;
	font-weight:bold;
	padding:15px 35px;
	text-decoration:none;
	cursor:pointer;
    
}
/** ------------------------ **/
/** INSERT AN UPLOAD STYLING **/
/** ------------------------ **/
#descriptionSlideOut{
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  background-color: #edfcff;
  color: #476587;
  left: 810px;
  width: 200px;
  top:650px;
  padding: 5px 10px 5px 5px;
  z-index: 10;
  border: 1px solid #cccccc;  
  position: absolute;
}
#descriptionSlideOut2{
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  background-color: #edfcff;
  color: #476587;
  left: 810px;
  width: 200px;
  top:500px;
  padding: 5px 10px 5px 5px;
  z-index: 10;
  border: 1px solid #cccccc;  
  position: absolute;
}

.studymaterialKindBtns{
	display:inline;
}
.noRadio{
	display:none;
}
#kind1{
	background-image:url(../images/classifieds-studymaterial-kind.png);
	background-position:0 0;
	background-repeat:no-repeat;
	width:78px;
	height:78px;
	cursor:pointer;
}
#kind2{
	background-image:url(../images/classifieds-studymaterial-kind.png);
	background-position:-78px 0px;
	background-repeat:no-repeat;
	width:78px;
	height:78px;
	cursor:pointer;
}

#sortMenu{
	margin-bottom:20px;	
}
#shareResults{
	float:right;
}

#sortResultsForm{
	display: inline; 
}

.searchFilterMaterialType{
	display:block;
}

	#material{float:left;}
	.materialType {
		display: none;
		float:left; 
		width:200px;
		padding:10px;
		margin-left:25px;
		padding-top: 0px; padding-right: 0.7em; padding-bottom: 0px; padding-left: 0.7em;
	}

    .uploadTypeField { display: none; }
    
    #insertSelectSubject{
    	margin-top:20px;
    }
    
    #insertUploadType{
    	margin-top:20px;
    }
    .uploadTypeRadio{
    	font-size:1.4em;    	
    }
    #insertMaterialType{
    	margin-top:20px;
    }
    #insertUTitleDesc{
    	clear:both;
    	padding-top:15px;
    }
    .insertCol1{
    	float:left;
    	width:250px;
    	padding-right:20px;
    }
    .insertCol2{
    	float:left;
    	padding-left:20px;
    }
    #subject_id{
    	float:left;
    	width:300px;
    	display:inline;
    }
    
    #courses_select{
    	visibility:hidden;
		float:right;
		margin-top:-27px;
    }
    #course_id{
    	width:350px;
    }
    #material{
		border: 1px solid #CCC;
		font-size: 12px;
    }
    #insertURL{
    	display:block;
    	padding: 10px 10px 5px;
		border: 1px solid #CCC;
		font-size: 16px;
		line-height: 22px;
		color:#B9ABA2;
    }

    #insertTitle{
    	display:block;
    	padding: 10px 10px 5px;
		border: 1px solid #CCC;
		font-size: 16px;
		line-height: 22px;
		width:100%;
		color:#B9ABA2;
    }

    #insertPrice{
    	display:block;
    	padding: 10px 10px 5px;
		border: 1px solid #CCC;
		font-size: 16px;
		line-height: 22px;
		width:25%;
		color:#B9ABA2;
    }
    #reportForm{
    	padding: 10px 10px 5px;
		font-size: 16px;
		line-height: 22px;
    }
    #insertDescription{
    	display:block;
    	padding: 10px 10px 5px;
		border: 1px solid #CCC;
		font-size: 13px;
		line-height: 22px;
		width:100%;
		font-size: 16px;  	
    }
    #insertKeywords{
    	clear:both;
    	margin-top:25px;
    }
    .tag{
    	border:none;
		outline:none;
		cursor:pointer;	
		background-color:#f9f9f9;
		border:1px solid #dcdcdc;
		color:#666666;
		padding:5px 15px;
	text-decoration:none;
    }
    .tag:hover{
    	background-color:#e9e9e9;
    }
    #postfb{
    	padding-top:10px;
    }
    #insertAnon{
    	margin-top:20px;
    }
    
    #insertUploadButton{
    		border: 1px solid #459A00;
background: #4AA400;
background: -webkit-gradient(linear,center top,center bottom,from(#5CCD00),to(#4AA400));
background: -moz-linear-gradient(top,#5CCD00,#4AA400);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5ccd00',endColorstr='#ff4aa400',GradientType=0);
display: inline-block;
text-align: center;
min-width: 5em;
min-height: 2em;
cursor: pointer;
position: relative;
border-radius: .3em;
-moz-border-radius: .3em;
-webkit-border-radius: .3em;
line-height: 2em;
padding: 0 1em;
font-size: 1.7em;
font-weight: bold;
color: white!important;
text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
text-decoration: none;
box-shadow: inset 0 0 .2em rgba(255,255,255,0.3),inset 0 0 .2em rgba(255,255,255,0.3),0 1px 2px rgba(0,0,0,0.3);
-o-box-shadow: inset 0 0 .2em rgba(255,255,255,0.3),inset 0 0 .2em rgba(255,255,255,0.3),0 1px 2px rgba(0,0,0,0.3);
-moz-box-shadow: inset 0 0 .2em rgba(255,255,255,0.3),inset 0 0 .2em rgba(255,255,255,0.3),0 1px 2px rgba(0,0,0,0.3);
-webkit-box-shadow: inset 0 0 .2em rgba(255,255,255,0.3),inset 0 0 .2em rgba(255,255,255,0.3),0 1px 2px rgba(0,0,0,0.3);
    }
    #insertUploadButton:hover {
	box-shadow: inset 0 0 .2em rgba(255,255,255,0.3),inset 0 0 .2em rgba(255,255,255,0.3),0 1px 5px rgba(0,0,0,0.6);
-o-box-shadow: inset 0 0 .2em rgba(255,255,255,0.3),inset 0 0 .2em rgba(255,255,255,0.3),0 1px 5px rgba(0,0,0,0.6);
-moz-box-shadow: inset 0 0 .2em rgba(255,255,255,0.3),inset 0 0 .2em rgba(255,255,255,0.3),0 1px 5px rgba(0,0,0,0.6);
-webkit-box-shadow: inset 0 0 .2em rgba(255,255,255,0.3),inset 0 0 .2em rgba(255,255,255,0.3),0 1px 5px rgba(0,0,0,0.6);
text-decoration: none!important;
}#insertUploadButton:active {
	box-shadow: inset .05em .15em .4em rgba(0,0,0,0.4),inset 0 0 .2em rgba(255,255,255,0.3),inset 0 1px 2px rgba(0,0,0,0.9);
-o-box-shadow: inset .05em .15em .4em rgba(0,0,0,0.4),inset 0 0 .2em rgba(255,255,255,0.3),inset 0 1px 2px rgba(0,0,0,0.9);
-moz-box-shadow: inset .05em .15em .4em rgba(0,0,0,0.4),inset 0 0 .2em rgba(255,255,255,0.3),inset 0 1px 2px rgba(0,0,0,0.9);
-webkit-box-shadow: inset .05em .15em .4em rgba(0,0,0,0.4),inset 0 0 .2em rgba(255,255,255,0.3),inset 0 1px 2px rgba(0,0,0,0.9);
}



ol#top10reasons{
	line-height:1.4em;
	 margin-bottom:10px;
	 font-weight: normal;
	 margin: 10px 0 0; 
}
ol#top10reasons li{
	 line-height:1.4em;
	 margin-left:5px;
	 margin-bottom:10px;
	 font-size:1.5em;
}
ol.insertHowIt li{
	 line-height:1.4em;
	 margin-left:-15px;
	 margin-bottom:10px;
}
ul.guidelines li{
	 line-height:1.4em;
	 margin-bottom:10px;
	 margin-left:15px;
	 list-style-type: circle;
}
.formDesc{
	color: #ADA097;
	display: inline-block;
	font-size: 12px;
	margin-left:10px;
}

/** UPLOAD RELATED PAGE STYLING**/
.material-type-icon{
	float:left;
	margin-right:10px;
}

.ratingIconGood{
		border:none;
	outline:none;
	position:absolute;
	cursor:pointer;	
	background-image: url(../images/rating-icon-good1.png);
	background-position:0 0;
	background-repeat:no-repeat;
	width:50px;
	height:23px;
	float:left;
	padding-left:25px;
}

.ratingIconGood:hover{
	background-position:left bottom;
	cursor:pointer;
	color:#009b00;
}

.ratingIconBad{
	border:none;
	outline:none;
	position:absolute;
	cursor:pointer;	
	background-image: url(../images/rating-icon-bad1.png);
	background-position:0 0;
	background-repeat:no-repeat;
	width:50px;
	height:23px;
	float:left;
	padding-left:23px;
	margin-left:70px;
}

.ratingIconBad:hover{
	background-position:left bottom;
	cursor:pointer;
	color:#9b0000;
}

#ratingFeedback{
	visibility:hidden;
	margin-bottom:5px;
	border: 1px solid #fad42e; 
	background: #fbec88 url(images/ui-bg_glass_55_fbec88_1x400.png) 50% 50% repeat-x; 
	color: #363636;
	padding-top: 0px; padding-right: 0.7em; padding-bottom: 0px; padding-left: 0.7em;
}


#favIcon{
	background-image: url(../images/favourite-icon.png);
	background-position:0 0;
	background-repeat:no-repeat;
	width:24px;
	height:21px;
	padding-left:30px;
	float:left;
	color:#6f6f6f;
}

#favIcon2{
	background-image: url(../images/favourite-icon.png);
	background-position:left bottom;
	background-repeat:no-repeat;
	width:24px;
	height:21px;
	padding-left:30px;
	float:left;
	color:#fc582a;
}

#favIcon:hover{
	background-position:left center;
	cursor:pointer;
	color:#fc582a;
}

#favIcon2:hover{
	background-position:0 0;
	cursor:pointer;
	color:#6f6f6f;
}

#commIcon{
	margin-top:35px;
	background-image: url(../images/comment-icon.png);
	background-position:0 0;
	background-repeat:no-repeat;
	width:100px;
	height:23px;
	padding-left:35px;
	float:left;
	color:#6f6f6f;
}


#commIcon:hover{
	background-position:left bottom;
	cursor:pointer;
	color:#36a2f9;
}

#commIconView{
	background-image: url(../images/comment-icon.png);
	background-position:0 0;
	background-repeat:no-repeat;
	width:23px;
	height:23px;
	padding-left:30px;
	float:left;
	color:#6f6f6f;
	margin-left:40px;
}


#commIconView:hover{
	background-position:left bottom;
	cursor:pointer;
	color:#36a2f9;
}

#uploadLinkField{
}

#reportIcon{
	background-image: url(../images/report-icon.png);
	background-position:0 0;
	background-repeat:no-repeat;
	width:23px;
	height:22px;
	padding-left:30px;
	float:left;
	margin-right:30px;
}

#reportIcon:hover{
	background-position:left bottom;
	cursor:pointer;
	color:#d64000;
}

.resultsPrice{
	margin:5px;
	margin-left:20px;
	font-size:2.2em;
	display:inline;
}


.reportIconView{
	background-image: url(../images/report-icon.png);
	background-position:0 0;
	background-repeat:no-repeat;
	width:23px;
	height:22px;
	padding-left:30px;
	display:inline;
	float:right;
}

.reportIconView:hover{
	background-position:left bottom;
	cursor:pointer;
	color:#d64000;
}

.marginTopTen{
	margin-top:10px;
}


#rightActionButton{
	margin-left:6px;
}

.contentImageLeft{
	float:left;
	padding:10px;
}

.contentImageRight{
	float:left;
	padding:10px;
}

.docViewTitleIcons{
	float:right;
	margin-top:30px;
}


#docIconView{
  margin-top: 20px;
	margin-left:20px;
	margin-right:20px;
}

#docIconView.fixed{
	position: fixed;
	top: 0;
}

.docPreview{
	height:500px;
	background-color:#ffffff;
	margin:20px;
	text-align:center;
	padding:20px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}
.docActualView{
	background-color:#f6f6f6;
	margin-top:20px;
	text-align:center;
	padding-top:20px;
	
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}

.facebookIconView{
	float:left;
}
.twitterIconView{
	float:left;
	margin-left:10px;
}
.facebookIconActualView{
	position:absolute;
	padding-top:12px;
	float:left;
	left:800;
	width:100px;
	margin-left:10px;
	overflow:hidden;
}
.twitterIconActualView{
	float:left;
	padding-top:12px;
	margin-left:110px;
}
.docViewButtonForm{
	float:right;
}
.linkIconView{
	clear:both;
	padding-top:10px;
}
.downloadViewButton{
	padding-top:10px;
	height:45px;
	clear:both;
}
#docViewItButton{
	border: 1px solid #459A00;
background: #4AA400;
background: -webkit-gradient(linear,center top,center bottom,from(#5CCD00),to(#4AA400));
background: -moz-linear-gradient(top,#5CCD00,#4AA400);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5ccd00',endColorstr='#ff4aa400',GradientType=0);
display: inline-block;
text-align: center;
min-width: 5em;
min-height: 2em;
cursor: pointer;
position: relative;
border-radius: .3em;
-moz-border-radius: .3em;
-webkit-border-radius: .3em;
line-height: 2em;
padding: 0 1em;
font-size: 1.3em;
font-weight: bold;
color: white!important;
text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
text-decoration: none;
box-shadow: inset 0 0 .2em rgba(255,255,255,0.3),inset 0 0 .2em rgba(255,255,255,0.3),0 1px 2px rgba(0,0,0,0.3);
-o-box-shadow: inset 0 0 .2em rgba(255,255,255,0.3),inset 0 0 .2em rgba(255,255,255,0.3),0 1px 2px rgba(0,0,0,0.3);
-moz-box-shadow: inset 0 0 .2em rgba(255,255,255,0.3),inset 0 0 .2em rgba(255,255,255,0.3),0 1px 2px rgba(0,0,0,0.3);
-webkit-box-shadow: inset 0 0 .2em rgba(255,255,255,0.3),inset 0 0 .2em rgba(255,255,255,0.3),0 1px 2px rgba(0,0,0,0.3);
	
}
    #docViewItButton:hover {
	box-shadow: inset 0 0 .2em rgba(255,255,255,0.3),inset 0 0 .2em rgba(255,255,255,0.3),0 1px 5px rgba(0,0,0,0.6);
-o-box-shadow: inset 0 0 .2em rgba(255,255,255,0.3),inset 0 0 .2em rgba(255,255,255,0.3),0 1px 5px rgba(0,0,0,0.6);
-moz-box-shadow: inset 0 0 .2em rgba(255,255,255,0.3),inset 0 0 .2em rgba(255,255,255,0.3),0 1px 5px rgba(0,0,0,0.6);
-webkit-box-shadow: inset 0 0 .2em rgba(255,255,255,0.3),inset 0 0 .2em rgba(255,255,255,0.3),0 1px 5px rgba(0,0,0,0.6);
text-decoration: none!important;
}#docViewItButton:active {
	box-shadow: inset .05em .15em .4em rgba(0,0,0,0.4),inset 0 0 .2em rgba(255,255,255,0.3),inset 0 1px 2px rgba(0,0,0,0.9);
-o-box-shadow: inset .05em .15em .4em rgba(0,0,0,0.4),inset 0 0 .2em rgba(255,255,255,0.3),inset 0 1px 2px rgba(0,0,0,0.9);
-moz-box-shadow: inset .05em .15em .4em rgba(0,0,0,0.4),inset 0 0 .2em rgba(255,255,255,0.3),inset 0 1px 2px rgba(0,0,0,0.9);
-webkit-box-shadow: inset .05em .15em .4em rgba(0,0,0,0.4),inset 0 0 .2em rgba(255,255,255,0.3),inset 0 1px 2px rgba(0,0,0,0.9);
}
#contactSellerButton{
		border: 1px solid #459A00;
background: #4AA400;
background: -webkit-gradient(linear,center top,center bottom,from(#5CCD00),to(#4AA400));
background: -moz-linear-gradient(top,#5CCD00,#4AA400);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5ccd00',endColorstr='#ff4aa400',GradientType=0);
display: inline-block;
text-align: center;
min-width: 5em;
min-height: 2em;
cursor: pointer;
position: relative;
border-radius: .3em;
-moz-border-radius: .3em;
-webkit-border-radius: .3em;
line-height: 2em;
padding: 0 1em;
font-size: 1.3em;
font-weight: bold;
color: white!important;
text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
text-decoration: none;
box-shadow: inset 0 0 .2em rgba(255,255,255,0.3),inset 0 0 .2em rgba(255,255,255,0.3),0 1px 2px rgba(0,0,0,0.3);
-o-box-shadow: inset 0 0 .2em rgba(255,255,255,0.3),inset 0 0 .2em rgba(255,255,255,0.3),0 1px 2px rgba(0,0,0,0.3);
-moz-box-shadow: inset 0 0 .2em rgba(255,255,255,0.3),inset 0 0 .2em rgba(255,255,255,0.3),0 1px 2px rgba(0,0,0,0.3);
-webkit-box-shadow: inset 0 0 .2em rgba(255,255,255,0.3),inset 0 0 .2em rgba(255,255,255,0.3),0 1px 2px rgba(0,0,0,0.3);
	margin-top:10px;
	margin-bottom:10px;
}
    #contactSellerButton:hover {
	box-shadow: inset 0 0 .2em rgba(255,255,255,0.3),inset 0 0 .2em rgba(255,255,255,0.3),0 1px 5px rgba(0,0,0,0.6);
-o-box-shadow: inset 0 0 .2em rgba(255,255,255,0.3),inset 0 0 .2em rgba(255,255,255,0.3),0 1px 5px rgba(0,0,0,0.6);
-moz-box-shadow: inset 0 0 .2em rgba(255,255,255,0.3),inset 0 0 .2em rgba(255,255,255,0.3),0 1px 5px rgba(0,0,0,0.6);
-webkit-box-shadow: inset 0 0 .2em rgba(255,255,255,0.3),inset 0 0 .2em rgba(255,255,255,0.3),0 1px 5px rgba(0,0,0,0.6);
text-decoration: none!important;
}#contactSellerButton:active {
	box-shadow: inset .05em .15em .4em rgba(0,0,0,0.4),inset 0 0 .2em rgba(255,255,255,0.3),inset 0 1px 2px rgba(0,0,0,0.9);
-o-box-shadow: inset .05em .15em .4em rgba(0,0,0,0.4),inset 0 0 .2em rgba(255,255,255,0.3),inset 0 1px 2px rgba(0,0,0,0.9);
-moz-box-shadow: inset .05em .15em .4em rgba(0,0,0,0.4),inset 0 0 .2em rgba(255,255,255,0.3),inset 0 1px 2px rgba(0,0,0,0.9);
-webkit-box-shadow: inset .05em .15em .4em rgba(0,0,0,0.4),inset 0 0 .2em rgba(255,255,255,0.3),inset 0 1px 2px rgba(0,0,0,0.9);
}
.docContent{
	padding-top:20px;
}
#disqus_thread{
	margin-top:-5px;
}
#studentStatisticBanner{
	background-image:url('../images/students-love-study-material.gif');
	width:591px;
	height:124px;
	margin-top:10px;
	margin-left:10px;
	float:left;
}
#profSupportBanner{
	background-image:url('../images/supported-by-professors.gif');
	width:314px;
	height:110px;
	margin-top:10px;
	margin-right:10px;
	float:right;
	
}
#footer{
	clear: both;
	padding-top:15px;
}

.col11 {
	float: left;
	width: 470px;
	padding-left:5px;
	padding-right:5px;
}

.col33 {
	float: right;
	width: 125px;
	padding-left:5px;
	padding-right:5px;
}

.col22 { 
	float: left;
	width: 30%;
	padding-left:5px;
	padding-right:5px;
}
#requestForm{
	display:inline;
}
#postStudyMaterialButton2{
	vertical-align:middle;
	text-align:center;
	-moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background-color:#ffec64;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:none;
	display:inline-block;
	color:#002d7a;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	padding:6px 20px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffee66;
	margin-left:8px;
	margin-right:5px;
	margin-top:-10px;
	position:relative;
}#postStudyMaterialButton2:hover {
	background-color:#ffe224;
	cursor:pointer;
}
#requestStudyMaterial{
	display:inline;
}
.clear{
	clear:both;
}

#seperator {
  height: 1px;
  background: #e7e7e7;
  width: 100%;
 }
 #seperatorHalf {
  height: 1px;
  background: #e7e7e7;
  width: 36%;
  float:left;
  margin:24px 17px 17px 17px;
 }
.seo{
	float:left;	
	padding-right:20px;
}
ul.seo{
	padding-left:10px;
}

ul.seo li{
	margin-top: 0.5em;
}

ul.faq li{
	margin-top:1em;
}

#footerText{
	padding-top:20px;
	padding-bottom:40px;
}

.horiList li{
	display: inline;
	list-style-type: circle;
	list-style-image:inherit;
	padding-right: 20px;
}

.autocomplete-w1 { background:url(img/shadow.png) no-repeat bottom right; position:absolute; top:0px; left:0px; margin:8px 0 0 6px; /* IE6 fix: */ _background:none; _margin:0; }
.autocomplete { border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; }
.autocomplete .selected { background:#F0F0F0; }
.autocomplete div { padding:2px 5px; white-space:nowrap; }
.autocomplete strong { font-weight:normal; color:#3399FF; }

/* PAYMENT SYSTEM
-------------------------------------------------------------- */
.plan{
	width:180px;
	float:left;
	padding:20px;
}
.planBg{
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
	background-color:#e9e9e9;
	padding:5px;
	padding-left:15px;
	padding-right:15px;
	margin-top:10px;
	width:95%;
}

/* TIPSY TOOLTIP
-------------------------------------------------------------- */

.tipsy { padding: 5px; font-size: 12px; opacity: 0.8; filter: alpha(opacity=80); background-repeat: no-repeat;  background-image: url(images/tipsy.gif); }
  .tipsy-inner { padding: 5px 8px 4px 8px; background-color: black; color: white; max-width: 200px; text-align: left; }
  .tipsy-inner { -moz-border-radius:3px; -webkit-border-radius:3px; }
  .tipsy-north { background-position: top center; }
  .tipsy-south { background-position: bottom center; }
  .tipsy-east { background-position: right center; }
  .tipsy-west { background-position: left center; }


/* Headings
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6 { font-weight: normal; margin: 10px 0 0;  }

h1 { font-size: 30px; line-height: 1; margin-bottom: 0.2em; font-family:  Calibri, Arial, serif; color:#333333; }
h2 { font-size: 18px; margin-bottom:0.4em; }
h3 { font-size: 1.5em; line-height: 1; margin-bottom: 1em; }
h4 { font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }
h5 { font-size: 1em; margin-bottom: 1.5em; color:#9d9d9d; }
h6 { font-size: 1em; color:#2e9700; }


h1 img, h2 img, h3 img,
h4 img, h5 img, h6 img {
  margin: 0;
}

.courseCourseStyle{font-size: 1em; 
	color:#3c9700;
} 

.blueh2 {font-weight: normal; margin: 10px 0 0;  font-size: 1.5em; line-height: 1.5; margin-bottom: 1em;  color:#0082ff; }
.smallText{font-size:1em;	
}
.bigText{font-size:4em;color:#0082ff; }
.bigBlackText{font-size:2.5em;color:#000000; }
.bigBlackText2{font-size:2em;color:#333333; }
.popText{color:#a200ff;}
.featureText{font-size:14px;}

#noCourseFound{
	padding-left:0.5em;
	padding-right:0.5em;
}
#addYourUniLink{
	float:right;
	color: #005db5;
}
#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }