application/config/database.php
application/cache/*
application/db_cache/*
application/logs/*
uploads/*
logs/*
application/logs/*
application/cache/*
emailssent.txt
studygig.sublime-project
studygig.sublime-workspace
Capfile
config/deploy.rb
